Main/ControlledVocabulary/Types/ControlledVocabularyButton.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ButtonConfiguration">
    <xs:complexType>
      <xs:attribute name="toRecipients" type="xs:string"/>
      <xs:attribute name="ccRecipients" type="xs:string"/>
      <xs:attribute name="bccRecipients" type="xs:string"/>
      <xs:attribute name="onlineUrl" type="xs:string"/>
      <xs:attribute name="guidanceUrl" type="xs:string"/>
      <xs:attribute name="author" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
